global
  log stdout format raw local0 err
  maxconn 200000
  cpu-policy performance

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 2h
  timeout server 2h
  timeout tunnel 2h
  option splice-auto

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 10s

frontend chatchat_tcp
  bind :4040 shards by-thread
  default_backend chatchat_tcp_nodes

backend chatchat_tcp_nodes
  balance leastconn
  option httpchk GET /metrics
  http-check expect status 200
  default-server check inter 2s fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr last,libc,none
  server-template tcp 1-100 tcp:4040 check port 9568

frontend metrics
  mode http
  bind :8404
  http-request use-service prometheus-exporter if { path /metrics }
  http-request deny
